<!doctype html>
<html>
  <head><title>500 - Server Error</title></head>
  <body>
    <h1>500 - Something went wrong</h1>
    <p><%= message || "Please try again later." %></p>
    <a href="/">Go home</a>
  </body>
</html>
