<!doctype html>
<html>
  <head><title>504 - Timeout</title></head>
  <body>
    <h1>504 - Request timed out</h1>
    <p><%= message || "The server took too long to respond." %></p>
    <a href="/">Go home</a>
  </body>
</html>
